body{
	background-color:#FFFFFF;
}
h1{
	font-family:fantasy;
	font-size:500px;
	color:#FFFFFF;
	text-align:right;
	width:400px;
	height:454px;
	padding:50px;
	background-color:#4267B2;
	margin-right:auto;
	margin-left:auto;
	margin-top:150px;	
}

